{
  "presets": [
    [ "@babel/preset-env", {
      "targets": { },
      "useBuiltIns": false
    } ]
  ],
  "ignore": [ "node_modules" ],
  "only": [ "src", "test" ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "@babel/polyfill": false,
        "regenerator": true
      }
    ]
  ]
}